{% extends 'base.html' %}
{%load static%}
{% block title %}Home{% endblock  %}
{% block content %}
<!-- main-slider -->
<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-left">
                                    <p>Donor Life</p>
                                    <h5>Donor, Faith and Hope. Help the Homeless. Donor life.</h5>
{#                                    <a href="about.html" class="btn btn-primary btn-style">Read More</a>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-left">
                                    <p>Save Children</p>
                                    <h5>Donate with Kindness. Every amount Donated by you Counts.</h5>
{#                                    <a href="about.html" class="btn btn-primary btn-style">Read More</a>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-left">
                                    <p>Unconditional Help</p>
                                    <h5>Give a Helping hand. We all need to come together. Our Mission.</h5>
{#                                    <a href="about.html" class="btn btn-primary btn-style">Read More</a>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-left">
                                    <p>Unconditional Help</p>
                                    <h5>Should Children suffer this way? Don't leave Orphans alone</h5>
{#                                    <a href="about.html" class="btn btn-primary btn-style">Read More</a>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
<!-- /main-slider -->
<!-- banner image bottom shape -->
<div class="position-relative">
    <div class="shape overflow-hidden">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor">
            </path>
        </svg>
    </div>
</div>
<!-- //banner image bottom shape -->
<!-- home page block1 -->
<section class="homeblock1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <h4><a href="#mission">View our Mission</a></h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-sm-4 mt-3">
                <div class="box-wrap">
                    <h4><a href="#team">Top Founders</a></h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-sm-4 mt-3">
                <div class="box-wrap">
                    <h4><a href="{% url 'contact' %}">Requst a Quote</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //home page block1 -->
<!-- middle -->
<div class="middle py-5" id="facts">
    <div class="container pt-lg-3">
        <div class="welcome-left text-center py-md-5 py-3">
            
            <h4>Thank you for your continued Support </h4>
            <a href="{% url 'signup' %}" class="btn btn-style btn-primary mt-sm-5 mt-4"><span class="fa fa-heart mr-1"></span>
                Become A Doner</a>
        </div>
    </div>
</div>
<!-- //middle -->

<!-- /bottom-grids-->
<section class="w3l-bottom-grids-6 py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box">
                    <img src="{% static 'assets/images/donate.png' %}" alt="">
                    <h4><a href="{% url 'signup' %}" class="title-head">Give Donation.</a></h4>
                    <p class="mb-3">Your compassion and generosity can truly make a difference in the lives of those less fortunate. Together, we can create a better, more compassionate world for everyone. Please consider making a donation today and become a part of our mission to bring hope and positive change to those in need.</p>
                    <a href="{% url 'signup' %}" class="btn btn-text">Become A Volunteer</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-5">
                <div class="area-box">
                    <img src="{% static 'assets/images/volunteer.png' %}" alt="">
                    <h4><a href="{% url 'signup' %}" class="title-head">Become a Volunteer.</a></h4>
                    <p class="mb-3">VBecoming a volunteer is a noble and selfless endeavor that benefits both you and the community you serve. It's a chance to be part of something bigger than yourself and contribute to positive change. So, if you're ready to make a difference, follow the steps mentioned above, and embark on a journey of giving back, personal growth, and meaningful connections with others. Together, we can create a better world through the power of volunteering!</p>
                    <a href="{% url 'contact'%}" class="btn btn-text">Join Now </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-5">
                <div class="area-box">
                    <img src="{% static 'assets/images/child.png' %}" alt="" width="52px">
                    <h4><a href="#feature" class="title-head">Help the Children.</a></h4>
                    <p class="mb-3">Help the Children is a noble initiative aimed at improving the lives of underprivileged children around the world. It believes that every child deserves access to basic necessities, education, healthcare, and a safe environment to grow and thrive. By coming together as a global community, we can make a lasting impact on the lives of these young ones, helping them build a brighter and more promising future.</p>
                    <a href="{% url 'signup' %}" class="btn btn-text">Help Now </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //bottom-grids-->
<!-- stats -->
<section class="w3_stats py-5" id="stats">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-content text-center">
            <h3 class="title-big">Our mission is to help people by distributing Money and Service globally.</h3>
        </div>
        <div class="w3-stats text-center">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="counter">
                        <span class="fa fa-users"></span>
                        <div class="timer count-title count-number mt-3" data-to="1500" data-speed="1500"></div>
                        <p class="count-text ">Total Volunteers</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="counter">
                        <span class="fa fa-cutlery"></span>
                        <div class="timer count-title count-number mt-3" data-to="2256" data-speed="1500"></div>
                        <p class="count-text ">Meals Served</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="counter">
                        <span class="fa fa-home"></span>
                        <div class="timer count-title count-number mt-3" data-to="1000" data-speed="1500"></div>
                        <p class="count-text ">Got Shelter</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="counter">
                        <span class="fa fa-male"></span>
                        <div class="timer count-title count-number mt-3" data-to="260" data-speed="1500"></div>
                        <p class="count-text ">Adapted Children</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->
<!-- bg -->
<div class="w3l-bg py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="welcome-left text-center py-lg-4">
            <span class="fa fa-heart-o"></span>
            <h3 class="title-big">Help the Homeless & Hungry People.</h3>
            <a href="{% url 'signup' %}" class="btn btn-style btn-primary mt-sm-5 mt-4">Donate Now</a>
        </div>
    </div>
</div>
<!-- //bg -->
<section class="w3l-index5 py-5" id="causes">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-4">
                <div class="header-section">
                    <h3 class="title-big">Our Event Causes </h3>
                    <h4>If you want to work with for আমরাই পারি? <a href="{% url 'signup'%} " >Send your Details.</a></h4>
                    <p class="mt-3 mb-lg-5 mb-4"> Are you ready to be a part of the positive change? Whether you're an individual, a group, or a corporation, there are many ways to get involved with We Can Foundation. Together, let's create a world where we can all thrive!</p>
                </div>
                <a href="{% url 'contact'%}" class="btn btn-outline-primary btn-style">Contact Us</a>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
               {% for event in events %}
                <div class="img-block">
                    <a href="{% url 'causes' %}">
                        <img src="{{event.cover.url}}" class="img-fluid radius-image-full" alt="image" />
                        <span class="title">{{ event.title }}</span>
                    </a>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="w3-services-ab py-5" id="mission">
    <div class="container py-lg-5 py-md-4">
        <h3 class="title-big text-center mb-5">Our Mission and Goals</h3>
        <div class="w3-services-grids">
            <div class="fea-gd-vv row">
                <div class="col-lg-4 col-md-6">
                    <div class="float-lt feature-gd">
                        <div class="icon">
                            <img src="{% static 'assets/images/home.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="icon-info">
                            <h5>Homeless Donor.</h5>
                            <p> Lorem ipsum dolor sit amet, dolor elit, sed eiusmod init
                                tempor primis in init.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="float-mid feature-gd">
                        <div class="icon">
                            <img src="{% static 'assets/images/education.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="icon-info">
                            <h5>Education Donor.</h5>
                            <p> Lorem ipsum dolor sit amet, dolor elit, sed eiusmod init
                                tempor primis in init.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="float-rt feature-gd">
                        <div class="icon">
                            <img src="{% static 'assets/images/health.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="icon-info">
                            <h5>Health Donor.</h5>
                            <p> Lorem ipsum dolor sit amet, dolor elit, sed eiusmod init
                                tempor primis in init.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 pt-md-2">
                    <div class="float-lt feature-gd">
                        <div class="icon">
                            <img src="{% static 'assets/images/icon1.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="icon-info">
                            <h5>Animal Donor.</h5>
                            <p> Lorem ipsum dolor sit amet, dolor elit, sed eiusmod init
                                tempor primis in init.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 pt-md-2">
                    <div class="float-lt feature-gd">
                        <div class="icon">
                            <img src="{% static 'assets/images/food.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="icon-info">
                            <h5>Food Donor.</h5>
                            <p> Lorem ipsum dolor sit amet, dolor elit, sed eiusmod init
                                tempor primis in init.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 pt-md-2">
                    <div class="float-lt feature-gd">
                        <div class="icon">
                            <img src="{% static 'assets/images/eco.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="icon-info">
                            <h5>Eco Donor.</h5>
                            <p> Lorem ipsum dolor sit amet, dolor elit, sed eiusmod init
                                tempor primis in init.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-clients py-5" id="clients">
    <div class="call-w3 py-lg-5 py-md-4">
        <div class="container">
            <h3 class="title-big text-center">Whom we work with</h3>
            <div class="company-logos text-center mt-5">
                <div class="row logos">
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'assets/images/brand1.png' %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'assets/images/brand2.png' %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'assets/images/brand3.png' %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4 mt-md-0 mt-4">
                        <img src="{% static 'assets/images/brand4.png' %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4 mt-lg-0 mt-4">
                        <img src="{% static 'assets/images/brand5.png' %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4 mt-lg-0 mt-4">
                        <img src="{% static 'assets/images/brand6.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock  %}